@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 14px;
  transition: all .3s ease-in-out;
}

:root {
  --background-dark: #020617;
  --background-light: #111827;
  --background-contact: #191d28;
  --text-white: #f3f4f6;
  --text-gray-light: #9ca3af;
  --main-yellow: #eab308;
  --text-gray-medium: #6b7280;
  --text-blue: #395183;
  --accent-white: #ffedd3;
  --background-card: #ffffff;
  --border-light: #ffffff80;
  --text-dark: #333;
  --text-medium: #777;
  --footer-link: #1F2937;
}

.no-underline a{
  text-decoration: none;
}

.animated-bg {
  background: linear-gradient(
    to bottom,
    rgba(2, 6, 23, 1),
    rgba(17, 24, 39, 0.4),
    rgba(17, 24, 39, 0.5),
    rgba(2, 6, 23, 0.8),
    rgba(2, 6, 23, 1)
),url('images/animated_background.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
}

.pad {
  padding: 1rem 0;
}

h1,
h2,
h3,
h4,
span {
  font-weight: bold;
  color: white;
}

.cursor {
  cursor: pointer;
}
p {
  line-height: 1.5rem;
}

span,
h4,
.ycolor {
  color: var(--main-yellow);
}

.default-span {
  color: black;
}


.lgcolor {
  color: var(--text-gray-light);
}

.gcolor {
  color: var(--text-gray-medium);
}

.dwhite {
  color: var(--text-white);
}

.button-style {
  background-color: var(--main-yellow);
  border: none;
  border-radius: 5px;
  padding: 0.6rem;
  width: 150px;
  font-weight: 600;
}

.button-anim {
  outline: none;
  transition: all 0.25s ease-out;
}

.button-anim:hover {
  transform: translateY(-6px);
}

.title,
.title span {
  font-size: 2.5rem;
}

.detail h1, 
.detail span,
.about h1,
.about span {
  font-size: 2.5rem;
}

.projects,
.skills,
.contacts,
footer {
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem;
  gap: 4rem;
}

.skill-intro,
.project-intro,
.contact-intro {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
  width: 40%;
}

.d-background {
  background-color: var(--background-dark);
}

.l-background {
  background-color: var(--background-light);
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 100;
  justify-content: space-between;
  position: fixed
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Start of Navigation Section */
nav {
  padding: 1rem 10rem;
}

.navigation-title,
.navigation-title span {
  font-size: 1.5rem;
}

.navigation-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navigation-links a {
  color: var(--text-white);
  text-transform: uppercase;
  border: none;
  background: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.nav-animation a::before {
  margin-left: auto;
}

.nav-animation a::after,
.nav-animation a::before {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--main-yellow);
  display: block;
  transition: 0.5s;
}

.nav-animation a:hover::after,
.nav-animation a:hover::before {
  width: 100%;
}
/* End of Navigation Section */

/* Start of Hero Section */
header {
  min-height: 100dvh;
  padding: 1rem 10rem;
  display: flex;
  gap: 10rem;
  align-items: center;
}

.detail {
  display: block;
  text-align: left;
}

/* --background-dark: #020617;
--background-light: #111827; */

header img{
  height: 500px;
  mask-image: linear-gradient(to bottom, #020617, #020617, #020617f1,#02061700);
}


.detail .bcolor {
  color: var(--text-blue);
}

.detail .color-w {
  margin-bottom: 10px;
}

.detail p {
  width: 450px;
  margin: 30px 0;
}

.typing {
  border-right: 2px solid var(--main-yellow);
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

@keyframes blink {
  0% {
      border-right-color: var(--main-yellow);
  }
  50% {
      border-right-color: transparent;
  }
  100% {
      border-right-color: var(--main-yellow);
  }
}

.typing {
  animation: blink 0.7s step-end infinite;
}
/* End of Hero Section */

/* Start of About Me Section */
.about {
  padding: 8rem 10rem;
  display: flex;
  gap: 10rem;
  align-items: center;
}

.about img {
  height: 380px;
}

.about .detail p {
  margin: 3rem 0;
}

/* End of About Me Section */

/* Start of Skills Section */
.skills {
  align-items: center;
  gap: 3rem;
}

.skill-intro {
  align-self: flex-start;
}

.skill-container {
  display: flex;
  align-self: flex-start;
  gap: 2rem;
}

.skill-card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-dark);
  width: 100%;
  gap: 1.5rem;
  padding: 2rem;
  align-items: center;
  aspect-ratio: 5/1;
}

.skill-card-hover:hover {
  cursor: pointer;
  box-shadow: 1px 5px 20px 1px rgba(90, 89, 23, 0.7);
}

.skill-card img {
  width: 50px;
}

.skill-card .d-image {
  display: flex;
  gap: 0.5rem;
}

.skill-card p {
  text-align: center;
  padding: 1.5rem;
}
/* End of Skills Section */

/* Start of Project Section */
.projects {
  align-items: center;
  justify-content: center;
}

.project-intro {
  text-align: center;
  width: 50%;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.card {
  position: relative;
  width: 300px;
  height: 180px;
  background-color: var(--background-card);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px var(--border-light);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
  min-width: auto;
  height: 100%;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  opacity: 1;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
}

.card_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
  background-color: var(--background-card);
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card_content {
  transform: rotateX(0deg);
}

.card_title {
  margin: 0;
  font-size: 20px;
  color: var(--text-dark);
  font-weight: 700;
}

.card:hover img {
  transform: scale(0);
}

.card_description {
  margin: 12px 0 0;
  font-size: 10px;
  color: var(--text-medium);
  line-height: 1.2;
}

.fullImageView {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.fullImageView img {
  max-width: 60%;
  max-height: 60%;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
/* End of Project Section */


/* Start of Contact Section */
.contacts {
  background-color: var(--background-contact);
  padding: 4rem 10rem;
  gap: 3rem;
}

.contact-intro {
  width: 50%;
}

.contact-container {
  display: flex;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-name {
  padding: 0.5rem;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
}

.input-message {
  padding: 0.5rem;
  width: 400px;
  height: 100px;
  resize: none;
  border-radius: 4px;
  border: none;
}
/* End of Contact Section */

/* Start of Footer Section */
footer {
  padding: 2rem;
  align-items: center;
  gap: 1rem;
}

footer svg {
  height: auto;
  width: 20px;
  transition: transform 0.3s ease;
}

footer svg:hover {
  fill: var(--main-yellow);
  transform: scale(1.2);
}

.footer-link {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
/* End of Footer Section */

/* Hide All Section */
nav,
header,
.about,
.skills,
.projects,
.contacts,
footer {
  display: none;
}

.color-b a{
  color: black;
}

.color-b{
  color: black;
}

.color-w {
  color: #FFFFFF;
}

.align {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Start Button */
#startBtn {
  font-size: 17px;
  padding: 1em 1.5em;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* In Animation */
@keyframes up-down {
  0%, 100%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(20px);
  }
}

@keyframes floatUp {
  0%{
      transform: translateY(50px);
      opacity: 0;
  }
  100%{
      transform: translateY(0);
      opacity: 1;
  }
}

.scroll-down-container {
  cursor: pointer;
  width: fit-content;
}

.a-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-down-animation-text {
  color: var(--main-yellow);
}

.animated-arrow{
  opacity: 0;
  transform: translate(-50px);
  animation: floatUp 1s ease-out forwards, up-down 1s ease-in-out infinite;
}

.left-right-animation {
  opacity: 0;
  transform: translateX(-100px) scale(0.8);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.left-to-right-animate {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.right-left-animation {
  opacity: 0;
  transform: translateX(100px) scale(0.8);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.right-to-left-animate {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.down-up-animation {
  opacity: 0;
  transform: translateY(100px) scale(0.8);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.down-to-up-animate {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.stagger-down-up-animation {
  opacity: 0;
  transform: translateY(130px) scale(0.8);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Active animation styles */
.stagger-down-up-animate {
  opacity: 1;
  transform: translateY(0) scale(1);
}

/* Delayed animations */
[data-stagger-index="0"] {
  transition-delay: 0s;
}

[data-stagger-index="1"] {
  transition-delay: 0.2s;
}

[data-stagger-index="2"] {
  transition-delay: 0.4s;
}